.columns {
    padding-top: 80px;
    display: flex;justify-content: space-between;
}

.column {
    width: 40%;
}
.column__title {
    font-size: 24px;
    margin-bottom: 20px;
}
.column__select {
    border: 1px solid #000;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
}
.column__input {
    padding: 10px;
    border: 1px solid #000;
    display: block;
    width: 200px;
    margin-bottom: 20px;
}
.column__button {
    width: 200px;
    padding: 10px;
    background-color: #19ba00;
    color: white;
    margin-bottom: 30px;
    display: block;
}
.column__button:hover {
    background-color: #149700;
    transition: .2s;
}

.income {
    font-size: 16px;
    margin-bottom: 15px;
}
.income__price {
    font-weight: bold;
}
.column__sum {
    font-size: 18px;
}
.column__number {
    font-weight: bold;
}
.red {
    color: red;
  }
  .green {
    color: green;
  }
.sum {
    margin-top: 100px;
    font-size: 18px;
}